body {
    background-color: white;
    color: black;
    font-family: sans-serif;
    font-size: 14;
}

h1 {
    font-size: 24;
    font-weight: bold;
}

h2 {
    font-size: 18;
    font-weight: bold;
}

ul {
    padding-left: 5px;
    margin-left: 15px;
}
